1. Discord Bot token: Get the Bot token from the Developer Dashboard..
2. Openrouter API key: Get the Openrouter API Key for the Agent model to connect with Agno or Groq..
3. Discord Github Code from Smithery: Used for sending messages to server and etc..